{% extends 'base.html' %}{% load static %} {% block contents %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css'%}"/>
<body class="detail">
    <h1>{{blog.title}}</h1>  
    <h5>{{blog.created_at}}</h5>
    <br />
    <divc class="editing">
        <a  href="{% url 'home' %}">📚목록</a>
        <a  href="{% url 'edit' blog.id %}">수정하기</a>
        <a  href="{% url 'delete' blog.id %}">삭제하기</a>
    </divc>
   
    <div class="content">{{blog.content}}
    {% if blog.image %}
    <img src="{{blog.image.url}}" width="200" />
    {% endif %}
    </div>
</body>

{% endblock %}
